nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    margin-left:-20px;
    margin-right:-20px;
}

nav .navbar-custom {
    background-color: #35c9b5;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    background-color:#ffcccc;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table1
{
    border: 1px solid black;
    position: relative;
    border-collapse: collapse;
}

th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

.btn1 {
  background-color: #cdb7f6; /* Green */
  border: none;
  color: white;
  padding: 15px 25px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:4px;
}

p {
    margin:auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
.container-fluid h3, p{
    color: #000000;
}
.bg-1
{
    background-color: antiquewhite;
    color: #ffffff;
}

.bg-2
{
    background-color: rgb(215, 250, 215);
    color: #ffffff;
}

.bg-3
{
    background-color: rgb(215, 242, 250);
    color: #ffffff;
}
.ft-1
{
    color: #000000;
}

.table1, .table1 tr, .table1 tr td
{
    border: 1px solid black; /* MUST ALWAYS PUT "SOLID" FOR BORDERS!!! */
    margin-left: auto; 
    margin-right: auto;
    padding: 2px;
    border-spacing: 20px;
    border-collapse: collapse;
    font-size: 15px;
}

.accordion {
    background-color: rgb(186, 214, 228);
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: rgb(163, 198, 216);
}

.panel {
    /* FOR ANIMATION (slide down) */
    padding: 0 18px;
    background-color: #cdeefd;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    /* FOR NORMAL DISPLAY - NO ANIMATION -
    padding: 0 18px;
    background-color: #cdeefd;
    display: none; 
    overflow: hidden;
    */
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top:6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ccc;
    color: white;
    padding:12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #cccc00;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.container1 {
    border-radius: 3px;
    background-color: none;
    padding: 20px;
}

/*
--> the below is just for notes!!

main .container
{
    background-color: #2e944b;
    border: #000000;
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}
main .container .toppane
{
    width: 100%;
    height: 150px;
    border-collapse: collapse;
    background-color: #35c9b5;
}
*/
